@model AddressBook.Models.UpdateModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UserModel</h4>
<hr />

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="userModel.UserId" />
            @foreach (var item in Model.emailModel)
            {
                <input type="hidden" asp-for="@item.EmailId" />
            }
            @foreach (var item in Model.contactModel)
            {
                <input type="hidden" asp-for="@item.ContactId" />
            }

            <div class="form-group">
                <label asp-for="userModel.FirstName" class="control-label"></label>
                <input asp-for="userModel.FirstName" class="form-control" />
                <span asp-validation-for="userModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userModel.LastName" class="control-label"></label>
                <input asp-for="userModel.LastName" class="form-control" />
                <span asp-validation-for="userModel.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="userModel.Address" class="control-label"></label>
                <input asp-for="userModel.Address" class="form-control" />
                <span asp-validation-for="userModel.Address" class="text-danger"></span>
            </div>


            <div class="input-group">
                <label class="control-label">Contact Number</label>
                @foreach (var item in Model.contactModel)
                {
                    <input type="hidden" asp-for="@item.ContactId" />
                    <input asp-for="@item.ContactNumber" class="form-control" />
                    <span asp-validation-for="@item.ContactNumber" class="text-danger"></span>
                }

            </div>
            <div class="input-group">
                <label class="control-label">Email Address</label>

                @foreach (var item in Model.emailModel)
                {
                    <a href="#" class="email" id="emailId" data-url="/EditContact" data-type="text" data-id="@item.EmailId">@item.EmailAddress</a>

                    @*<input type="hidden" asp-for="@item.EmailId" />
                <input asp-for="@item.EmailAddress" class="form-control" />
                <span asp-validation-for="@item.EmailAddress" class="text-danger"></span>*@
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
           
        </form>
    </div>
</div>
<a href="#" id="username" data-type="text" data-pk="1" data-url="/EditContact" data-title="Enter username">08888888</a>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/lib/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
    //$(document).ready(function () {
    //    alert("");
    //});
    $('.email').editable({
        type: 'text',
        pk: 1,
        url: '/post',
        value: 'hello',
        title: 'Enter username'
    });
   
</script>
