@model AddressBook.Models.AddressBookModel;
@{
    ViewData["Title"] = "Index";


    <link href="~/css/app.css" rel="stylesheet" />
    <div class="generic-container">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">User Registration Form </span></div>
            <div class="formcontainer">
                <form class="form-horizontal"  method="post" asp-action="AddUser">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="FirstName">FirstName</label>
                            <input asp-for="userModel.FirstName" class="form-control" placeholder="FirstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="LastName">Surname</label>
                            <input asp-for="userModel.LastName" class="form-control" placeholder="Surname">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="EmailAddress">Email</label>
                            <input asp-for="emailModel.EmailAddress" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ContactNumber">Cell Phone</label>
                            <input asp-for="contactModel.ContactNumber" class="form-control" placeholder="Cell Phone">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Address">Address</label>
                            <input asp-for="userModel.Address" class="form-control" placeholder="Address">
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit" class="btn btn-primary btn-sm">
                            <button type="reset">Reset Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="lead">List of Contact </span></div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID.</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContactListModel)
                        {
                            <tr>
                                <td><span>@item.UserId</span></td>
                                <td><span>@item.FirstName</span></td>
                                <td><span>@item.LastName</span></td>
                                <td><span>@item.ContactNumber</span></td>
                                <td><span>@item.Address</span></td>
                                <td><span>@item.EmailAddress</span></td>
                                <td>
                                    <button type="button" class="btn btn-success custom-width">Edit</button>  <button type="button" class="btn btn-danger custom-width">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
    @*<script src="<a class=" vglnk" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js" rel="nofollow"><span>https</span><span>://</span><span>ajax</span><span>.</span><span>googleapis</span><span>.</span><span>com</span><span>/</span><span>ajax</span><span>/</span><span>libs</span><span>/</span><span>angularjs</span><span>/</span><span>1</span><span>.</span><span>4</span><span>.</span><span>4</span><span>/</span><span>angular</span><span>.</span><span>js</span></a>"></script>
        <script src="<c:url value='/static/js/app.js' />"></script>
        <script src="<c:url value='/static/js/service/user_service.js' />"></script>
        <script src="<c:url value='/static/js/controller/user_controller.js' />"></script>*@


    @*<form method="post" asp-action="AddUser">
            <div class="form-control">
                <label>FirstName :</label>
                <input asp-for="userModel.FirstName" />
            </div>
            <div class="form-control">
                <label>LastName :</label>
                <input asp-for="userModel.LastName" />
            </div>
            <div class="form-control">
                <label>Address :</label>
                <input asp-for="userModel.Address" />
            </div>
            <div class="form-control">
                <label>Email Address :</label>
                <input asp-for="emailModel.EmailAddress" />
            </div>
            <div class="form-control">
                <label>Contact Number :</label>
                <input asp-for="contactModel.ContactNumber" />
            </div>
            <br />
            <input type="submit" />
        </form>*@
