@model AddressBook.Models.AddressBookModel;
@{
    ViewData["Title"] = "Index";

    @Html.ValidationMessage("Error")
    <link href="~/css/app.css" rel="stylesheet" />
    <div class="generic-container">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">User Registration Form </span></div>
            <div class="formcontainer">
                <form class="form-horizontal" method="post" asp-action="AddUser">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="FirstName">FirstName</label>
                            <input asp-for="userModel.FirstName" class="form-control" placeholder="FirstName">
                            <span asp-validation-for="userModel.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="LastName">Surname</label>
                            <input asp-for="userModel.LastName" class="form-control" placeholder="Surname">
                            <span asp-validation-for="userModel.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="EmailAddress">Email</label>
                            <input asp-for="emailModel.EmailAddress" class="form-control" placeholder="Email Address">
                            <span asp-validation-for="emailModel.EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ContactNumber">Cell Phone</label>
                            <input asp-for="contactModel.ContactNumber" class="form-control" placeholder="Cell Phone">
                            <span asp-validation-for="contactModel.ContactNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Address">Address</label>
                            <input asp-for="userModel.Address" class="form-control" placeholder="Address">
                            <span asp-validation-for="userModel.Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit" class="btn btn-primary btn-sm">
                            <button type="reset">Reset Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="lead">List of Contact </span></div>
            <div class="tablecontainer">
                <input type="text" id="myInput" onkeyup="SearchContact()" placeholder="Search for names.." title="Type in a name">
                <table id="contactTb" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID.</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContactListModel)
                        {
                            <tr>
                                <td><span>@item.UserId</span></td>
                                <td><span>@item.FirstName</span></td>
                                <td><span>@item.LastName</span></td>
                                <td><span>@item.ContactNumber</span></td>
                                <td><span>@item.Address</span></td>
                                <td><span>@item.EmailAddress</span></td>
                                <td>
                                    <a asp-controller="User" asp-action="Edit" class="btn btn-success custom-width" asp-route-Id="@item.UserId">Edit</a>
                                    <a asp-controller="User" asp-action="DeleteContact" class="btn btn-danger custom-width" asp-route-Id="@item.UserId">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


<script>
    function SearchContact() {

        var input, filter, table, tr, td, i, txtValue;

        input = document.getElementById("myInput");

        filter = input.value.toUpperCase();

        table = document.getElementById("contactTb");

        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {

            td = tr[i].getElementsByTagName("td")[1];

            if (td) {

                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {

                    tr[i].style.display = "";

                } else {

                    tr[i].style.display = "none";

                }
            }
        }
    }
</script>